body {
    background-color: #444;
    background: url('../images/login-bg.jpg');  
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.linha_usuario{
    display: block;
    margin-top:10px;
    padding:5px;
}

.linha_usuario img{
    margin-right:5px;
    margin-top:-7px;
}

img {
    vertical-align: middle;
}

.conversa{
    margin-top:70px;
    margin-bottom: 70px;
}

.conversa-completa{
    padding: 0 25px;
}

.participantes .claro, .participantes .escuro{
    padding: 7px 10px 0px;
    font-weight: bold !important;
}

.participante{
    display:block;
    margin-bottom: 10px;
}

.participante img{
    margin-top:-5px;
    margin-right: 5px; 
}

.dialogo{
    width:100%;
    height:auto;
    margin-bottom:15px;
    padding: 10px 10px 1px !important;
    background:#D8F0FE;
}

.dialogo h4, .dialogo-entrada h4{
    font-size:15px;
    font-weight: bold;
}

.dialogo p, .dialogo-entrada p{
    font-size:13px;
    padding-left:15px;
}

.escuro h4, .escuro p, .escuro span{    
    color:#fff;
}

.claro h4, .claro p, .claro span{    
    color:#000;
}

.dialogo-entrada{
    background: #c1f5c1;
    width:100%;
    height:auto;
    margin-bottom:15px;
    padding: 10px 10px 1px !important;    
}

.form-control[type=color] {
    height: auto;
}

/* Need styles for -webkit- and -moz- */

.form-control[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
}
.form-control[type=color]:-moz-color-swatch-wrapper {
    padding: 0;
    margin: 0;
}
.form-control[type=color]:-ms-color-swatch-wrapper {
    padding: 0;
    margin: 0;
}

.form-control[type=color][list="colors"]::-webkit-color-swatch-wrapper {
    padding: .5rem .75rem;
}
.form-control[type=color][list="colors"]:-moz-color-swatch-wrapper {
    padding: .5rem .75rem;
}
.form-control[type=color][list="colors"]:-ms-color-swatch-wrapper {
    padding: .5rem .75rem;
}

.form-control[type=color]::-webkit-color-swatch {
    height: 22px; /* font-size + line-height */
    padding: 0;
    margin: 0;
}
.form-control[type=color]::-moz-color-swatch {
    height: 22px; /* font-size + line-height */
    padding: 0;
    margin: 0;
}
.form-control[type=color]:-ms-color-swatch {
    height: 22px; /* font-size + line-height */
    padding: 0;
    margin: 0;
}

